$themecolor: rgb(216, 34, 34);

.flex-container {
    display: flex !important;
    flex: 1 1 auto !important;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: block;
    flex: 1 1 auto !important;
}

#about {
    font-family: Helvetica, sans-serif;
    text-align: center;
    p {
        padding: 0.5rem;
    }
}

h1, h2, h3 {
    text-align: center;
}

#projects {
    .proj-tile {
        width: 80%;
        margin: 0.5rem auto;
        padding: 1rem;
        span {
            display: block;
            font-style: italic;
            text-align: justify;
        }
        p {
            display: block;
            text-align: justify;
        }
        border-bottom: black solid 1px;
    }
    .proj-tile:last-child {
        border-bottom: none;
    }

    #proj-tile-tools ul {
        list-style-type: disc;
        padding-left: 20px;
    }
}

#accounts {
    li {
        width: 80%;
        margin: 0.5rem auto;
        padding: 0.5rem;
    }
    a {
        padding: 0.5rem;
        border: solid 2px $themecolor;
        display: block;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    a:hover {
        background-color: lighten($themecolor, 20);
        color: #eeeeee;
    }
}

footer {
    background-color: $themecolor;
    text-align: center;
    ul {
        margin: 0.5rem 0;
    }
    a {
        display: block;
        color: #eeeeee;
        text-decoration: none;
        padding: 0.5rem;
    }
    a:hover {
        background-color: lighten($themecolor, 10);
    }
}
